yaml==6.0.1
streamlit_authenticator==0.3.2
langgraph
-U langchain-community
pymssql
cx_Oracle

pip install -qU "langchain-chroma>=0.1.2"

# ----
# charlie:
# langgraph==0.1.17
# streamlit-authenticator==0.3.3